@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #14a095;
  font-family: "Quicksand", sans-serif;
  color: #f9fbf1;
}
.barra{
  background-color: #106567;
  margin: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.nav-link{
  color: #f9fbf1;
}
.footer{
  background-color: #106567;
}
.cardTitulo{
  font-family: "Quicksand", sans-serif;
  color: #106567;
  font-weight:600;
  text-align: center;
}
.cardDescripcion{
  font-family: "Quicksand", sans-serif;
  color: #106567;
  text-align: center;
}
.cardProducto{
  width: 16rem;
  border: 4px double #106567;
  margin: 5%;
}
.cardDetalle{
  width: 18rem;
  border: 2px solid #106567;
}
.fuente{
  font-family: "Quicksand", sans-serif;
  color: #f9fbf1;
}
.containerError{
  min-height: 350px;
}
.itemCount{
  background-color: #106567;
  border-color: #106567;
  color: #f9fbf1;
}
.home{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
.btnBlanco{
  background-color: #f9fbf1;
  color: #106567;
  font-weight: bold;
}
.btnCeleste{
  width: 50%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #106567;
  background-color: #81EFE6;
  color: #106567;
  font-weight: bold;
}
.bodyCart{
  border: solid 2px #106567;
  background-color: #f9fbf1;
  color: #106567;
  border-radius: 10px;
}
.btnAzul{
  background-color: #106567;
  color: #f9fbf1;
  font-weight: bold;
}
.btnAzul:hover{
  background-color: #106567;
  color: #f9fbf1;
  font-weight: bold;
}
.bodyCheckout{
  background-color: #f9fbf1;
  color: #106567;
  border-radius: 10px;
}
.spinner-grow{
  color: #106567;
}


